.result {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    border-top: 2px solid white;


}
.result h3, .result h4 {
    font-weight: normal;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.result em {
    font-weight:bold;
}